@import "variables";
@import "mixins";

.layout--homepage {
  background: url("/background.jpg") no-repeat center center;
  background-size: cover; // Gör att bilden täcker hela området
  color: $white-color; // Gör texten vit för att synas mot bakgrunden

  .layout__header {
    background-color: transparent; // Gör headern transparent
    z-index: 1; // Säkerställ att headern ligger över bakgrunden
  }

  .layout__main {
    background-color: transparent; // Gör main transparent
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1; // Säkerställ att innehållet ligger över bakgrunden
  }

  .homepage__title {
    font-size: $font-size-xxl;
    margin-bottom: 1rem;
  }

  .homepage__button {
    @include button-base;
    background-color: $black-transparent-70;
    color: $white-color; // Explicitly set, though default in mixin
    padding: 1rem 2rem;
    font-size: $font-size-lg;
    border-radius: $border-radius-sm;

    &:hover {
      background-color: $black-transparent-90;
    }
  }
}
